@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

hr{
    border: 5px solid white;
}

#navbar {
    width: 100%;
    height: 7vh;
    background-color: rgb(66, 170, 239);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 0 20px rgb(100, 100, 100);
}

.flabingo{
    letter-spacing: 2px;
    border-radius: 5px;
    margin: 0 40px;
}

#navbar ul {
    height: 7vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

#navbar ul li {
    list-style: none;
    padding: 10px 20px;
}
#navbar ul li:hover{
    background-color: rgb(36, 167, 255);
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
}
.thebox{
    border-radius: 10px;
    box-shadow: 3px 2px 10px rgb(56, 56, 56);
}
h1{
    display: inline;
    color: white;
    border-bottom: 3px solid rgb(207, 207, 207);
}

#welcome-section {
    width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
    background: linear-gradient(45deg, #2E3192 , #1BFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 480px){
    #welcome-section {
        width: 100%;
        height: 100vh;
        color: rgb(0, 0, 0);
        background: linear-gradient(45deg, #2E3192 , #1BFFFF);
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }
    .gallery{
        width: 40vw;
        border-radius: 10px;
        margin: 0 2em;  
    }
    #contact #contact-links{
        margin: 20px ;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
    }    
    
}

.section-1{
    width: 50vw;
}
.section-1 p {
    margin: 20px 0;
}

.gallery{
    width: 20vw;
    border-radius: 10px;
    margin: 0 2em;  
}

img{
    background-size: contain;
    width: inherit;
    border-radius: 10px;
}

p {
    font-style: italic;
    font-size: 16px;
    color: rgb(217, 225, 235);
}

#projects {
    padding: 50px 100px;
    width: 100%;
    background: rgb(179, 224, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#projects h1{
    margin-top: 20px;
    margin-bottom: 50px;
}

.collection{
    margin-bottom: 50px;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    /* grid-auto-rows: minmax(100px, auto); */
}

.project-tile{
    width: 25vw;
    height: 15vw;
    border-radius: 10px 10px 0 0;
    background-color: rgb(194, 123, 123);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}
.project-tile:hover{
    border-radius: 10px;
    transform: scale(1.1);
}

.project-name{
    background-color: black;
    text-align: center;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
}

.project-1{
    background-image: url("./images/Screenshot\ 2024-12-15\ 123351.png");
}
.project-2{
    background-image: url("./images/Screenshot\ 2024-12-15\ 132952.png");
    background-color: black;
}
.project-3{
    background-image: url("./images/Screenshot\ 2024-12-22\ 210908.png");
}

#contact{
    width: 100%;
    height: 100vh;
    background-color: rgb(62, 62, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact #contact-links{
    margin: 20px ;
    color: white;
    display: flex;
}

#contact #contact-links .link{
    border-radius: 5px;
    padding: 10px 30px;
}

#contact #contact-links .link:hover{
    background-color: rgb(84, 84, 84);
}

footer{
    padding: 1em 10px;
    background-color: rgb(143, 37, 37);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.source-code{
    text-decoration: underline;
}
